.popup__close-button {
  position: fixed;
  top: -40px;
  right: -40px;
  background-image: url(../../../vendor/images/Close\ Icon.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  background-color: black;
  border: 0;
  transition: 0.3s;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}